{{ define "main" }}
  <div class="container product-container my-5">

    <div class="product-menu list-group list-group-flush">
    {{$section := .Section}}
    {{range where .Site.RegularPages "Section" $section}}
    <a class="list-group-item" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  {{ end }}
    </div>

    <div>
    <img src="{{ .Params.image}}" width="75%;">

    <h1 class="mt-4">{{ .Title }}</h1>

    {{ .Content }}

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
</div>
  </div>
{{ end }}
