{{ define "main" }}

<div class="divider"></div>

{{ range where .Site.RegularPages "Section" "nyheter" | first 1 }}
<div class="news-container">
  <div class="news-header container py-3">
    <span class="news-prefix">
      {{ .Params.prefix }}:
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </span>
  </div>
</div>
{{ end }}

<div class="banner">
  <div class="container py-5">
    <div class="text">
      <p>{{ .Params.summary }}</p>
    </div>

    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner img-border rounded">
        <div class="carousel-item active">
          <img src="/carousel/larm1.jpg" class="d-block w-100" alt="..." />
        </div>
        {{ range $i, $sequence := (seq 5) }}
        <div class="carousel-item">
          <img
            src="/carousel/larm{{ add $sequence 1 }}.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div class="container my-5">{{ .Content }}</div>

<div class="columns container my-5" style="gap: 2rem">
  <div class="icon-section">
    {{ partial "svg/secure.html" . }}
    <h3>Säkert</h3>
    <div>{{ .Params.section1 }}</div>
  </div>
  <div class="icon-section">
    {{ partial "svg/wrench.html" . }}
    <h3>Enkelt</h3>
    <div>{{ .Params.section2 }}</div>
  </div>
  <div class="icon-section">
    {{ partial "svg/cost.html" . }}
    <h3>Kostnadseffektivt</h3>
    <div>{{ .Params.section3 }}</div>
  </div>
</div>

<div
  class="container my-5"
  style="display: flex; justify-content: center; align-items: center"
>
  <span>
    {{ .Params.gtc }}
    <a href="/documents/Dragos Larm GTC.pdf">Försäljningsvillkor</a>
  </span>
</div>
{{ end }}
