@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply mx-auto max-w-screen-xl px-5 lg:px-0;
}

.content h1,
h3,
p {
  @apply mb-3;
}

.content ul {
  @apply ml-5 mt-3 list-disc;
}

.content h2 {
  @apply mt-3 text-xl font-bold text-green-900;
}

.content h3 {
  @apply mt-3 text-lg font-bold text-green-900;
}

.document h2 {
  @apply mb-3 text-xl font-bold text-green-900;
}

#TableOfContents {
  @apply rounded-md bg-grey-200 p-3;
  ul {
    @apply font-bold text-green-900;
    li {
      @apply mb-1;
    }
  }
}

.nav-link {
  @apply px-5 py-2 hover:rounded-t-lg hover:bg-green-700;
}

.active {
  @apply rounded-lg bg-grey-50 font-semibold text-grey-800 hover:bg-grey-200 lg:rounded-none lg:rounded-t-lg;
}

.adjusted {
  @apply mx-5;
}

.divider {
  @apply mb-5 bg-green-800 py-0.5;
}

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {
    position: relative;
    @apply pb-3;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
