@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply mx-auto max-w-screen-xl lg:px-0;
}

.content h1,
h3,
p {
  @apply mb-3;
}

.content ul {
  @apply ml-5 mt-3 list-disc;
}

.content h2 {
  @apply mt-3 text-xl font-bold text-grey-800;
}

.content h3 {
  @apply mt-3 text-lg font-bold text-grey-800;
}

.document h2 {
  @apply mb-3 text-xl font-bold text-grey-800;
}

.toc-link {
  @apply px-2 py-1 hover:rounded-md hover:bg-grey-500 hover:font-bold hover:text-grey-100;
}

.nav-link {
  @apply px-5 py-2 hover:rounded-lg hover:bg-grey-400 lg:rounded-none lg:hover:rounded-none lg:hover:rounded-t-lg;
}

.active {
  @apply rounded-lg bg-white-100 text-grey-900 hover:bg-grey-100 lg:rounded-none lg:rounded-t-lg;
}

.adjusted {
  @apply mx-3;
}

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a {
  float: left;
  display: block;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {
    position: relative;
    @apply pb-3;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
