{{ define "main" }}
    <div class="divider green"></div>

<div class="container my-4">
        <h1>{{ .Title }}</h1>
        <hr>
    <div class="product-list-container my-5">

        <div class="product-menu">
            <div class="mx-3">
                <h5>Kategorier</h5>
            </div>

            <div class="list-group list-group-flush">
            {{ with .Site.GetPage "/produkter" }}
                <a class="list-group-item" href="{{ .RelPermalink }}">Alla larmprodukter</a>
                {{ range .Sections }}
                    <a class="list-group-item" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            {{ end }}
            </div>
        </div>

        <div class="product-list">
        {{ range .RegularPagesRecursive }}
        <div class="product-summary-container">
            <a href="{{ .RelPermalink }}">
                <img src="{{ .Params.image }}" class="card-img-top" alt="...">
            </a>
            <div class="my-3">
                <h5><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
                <p>{{ .Summary }}</p>
            </div>
        </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
