{{ define "main" }}

<div class="title-banner" style="height: 0.25rem;"></div>

<div class="container my-3">

  {{ partial "breadcrumbs.html" . }}

  <div class="product-container">

    <img src="{{ .Params.image}}" width="100%;">

    <div>
    <h1>{{ .Title }}</h1>

    {{ .Content }}

    <button class="order-button my-3" onclick="window.location.href='mailto:info@dragoslarm.se?subject=Order för {{ .Title }}'">Beställ</button>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
</div>
</div>
  </div>
{{ end }}
