<div class="bg-grey-600 py-20">
  <div class="my-container text-grey-100">
    <div class="adjusted">
      <h3 class="mb-5 text-3xl font-bold">Dragos Larm AB</h3>

      <div class="mb-5">
        <a
          class="font-bold text-grey-100 underline"
          href="/documents/Dragos Larm GTC.pdf"
          >{{ i18n "gtc" . }}</a
        >
      </div>

      <div class="grid grid-rows-3 lg:grid-cols-3 lg:grid-rows-1">
        <div>
          <p class="text-lg font-bold">{{ i18n "email" }}</p>
          <strong class="mb-3">
            <a href="mailto:info@dragoslarm.se">info@dragoslarm.se</a>
          </strong>
        </div>
        <div>
          <p class="text-lg font-bold">{{ i18n "phone" }}</p>
          <strong>+46 (0)79 339 72 82</strong>
        </div>

        <div>
          <p class="text-lg font-bold">{{ i18n "address" }}</p>
          <p>Norrsunda Krogsta 219</p>
          <p>195195 Rosersberg</p>
        </div>
      </div>
    </div>
  </div>
</div>
