{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}


{{- with index site.Menus $menuID }}
  <nav id="topnav" class="topnav mx-3 text-grey-100">
      {{ range first 1 .}}
        <a class="font-semibold pr-3 py-2 px-3 lg:hover:bg-grey-400 rounded-t-md" href="{{ .URL }}">{{ site.Title }}</a>
      {{ end }}

      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i>{{ partial "svg/menu.html" . }}</i>
    </a>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "true") }}
    {{ else }}
      {{- $attrs = merge $attrs (dict "class" "nav-link") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
  {{- end }}
{{- end }}
